.cardoverall {
    transition: 0.5s;
    height: 0;
    padding-bottom: 55%;
    overflow-wrap: break-word;
    /*width: 100%;*/
    /*100% for width, larger number makes height larger */
    /*padding-bottom: calc(100%*1/2);*/
}
.cardoverall:hover {
    transform: scale(1.1);
  }